.container {
  height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-image {
  height: 50vh;
  width: 50vw;
  border-radius: 10px;
}

.thumb-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
  padding-left: 20%;
  padding-right: 20%;
}

.tabs-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
